@import "doctor", "settings", "mediaqueries";

* {
    box-sizing: border-box;
    list-style: none;
}
a{
    color: $link-color;
    text-decoration: none;
    :visited{
        color: $visited-color;
    }
}
body{
    padding: 60px;
    background-color: $main-color;
    color: $text-color;
    font-family:  '游ゴシック', 'Arial', 'メイリオ', 'ヒラギノ角ゴ ProN', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}
hr{
    display: block;
    height: 1px;
    margin: 1em 0;
    border: 0;
    border-top: 1px solid $text-color;
}

.floatleft{
    float: left;
}
.clear{
    clear: both;
}
.flex{
    display: flex;
}

.wrapper-contents{
    width: 70%;
    margin:0 auto;    
}