@import "doctor", "settings", "mediaqueries";

* {
    box-sizing: border-box;
    list-style: none;
}
a{
    color: $link-color;
    text-decoration: none;
    :visited{
        color: $visited-color;
    }
}
body{
    padding: 30px;
    background-color: $main-color;
    color: $text-color;
    font-family: "Yu Gothic", 
    "游ゴシック", 
    "游ゴシック体", 
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    h1, h2{
        font-family: Helvetica, sans-serif;
        font-weight: 600;
    }
}
hr{
    display: block;
    height: 1px;
    margin: 8px 0;
    border: 0;
    border-top: 1px solid $text-color;
}
.flex{
    display: flex;
}

.wrapper-contents{
    width: 100%;
    max-width: 800px;
    margin:0 auto;
    padding: 0 16px;
}

@media(max-width: 700px){
    body{
        overflow-x: hidden;
        padding: 10px;
        font-size: 14px;
    }
    .wrapper-contents{
        width: 90%;
        margin-left: 40px;
    }
}