@import "./settings";

.work, .other{
    @include a-style;
    margin:0  auto;
    padding-top: 25vh;
    p{
        line-height: 1.5em;
    }
    h2{
        position: absolute;
        top: 15vh;
        right: 60px;
    }
    h3{
        font-size: 2rem;
        margin:$margin-texts 0;
    }
    figure{
        max-height: 100%;
        height: 450px;
        margin: $margin-headings 0;
        img{
            width: 100%;
            height: 450px;
            object-fit: fill;
        }
    }
    >div{
        margin-bottom: 30px;
        padding-bottom:30px ;
    }
    //
    .summary{
        display: flex;
        justify-content: space-between;
        &--info {
            @include info-style;
            width: 50%;
        }
        &--concept{
            width: 50%;
            padding: 2rem;
            background: darken($main-color, 15%);
            h4{
                margin: $margin-texts 0 ;
            }
            p{
                line-height: 1.5em
            }
        }
    }

    .toolmap{
        @include heading-style;
        @include toolmap-style;
        svg{
            width: 100%;
            height: 50vh;
            min-height: 400px;
        }
    }

    .detail{
        @include heading-style;
        img, video{
            display: inline-block;
            width: 50%;
            max-height: 300px;
            min-height: 200px;
            margin-bottom: $margin-headings;
            object-fit: cover;
        }
        img +p, video +p{
            width: 47%;
            display: block;
            float: right;
        } 
    }

}
.blog-inner{
    @include heading-style;
    @include a-style;
    h5{
        border: none;
        padding: 0;
    }
    margin-bottom: $margin-contents;
    h4 span{
        font-weight: 100;
        font-size: 1rem;
    }
    .summary{
        margin: 30px 0;
        article{
            width: 33%;
            padding: 1em;
            h5{
                margin: $margin-texts 0;
            }
            figure{
                width:100%;
                height:240px;
                margin: $margin-texts 0;
            }
        }
    }
}

.post-link{
    @include a-style;
    margin: $margin-contents auto;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 700px){
    .work, .other{
        padding: 10px;
        h2{
            position: static;
            height: 15vh;
            line-height: 15vh;
        }
        h3{
            font-size: 1.5rem;
        }
        .flex{
            flex-direction: column;
        }
        .toolmap, .detail, .blog-inner{
            h4{
                font-size: 1.25rem;
            }
        }
        .summary{
            &--info {
                width: 100%;
            }
            &--concept{
                width: 100%;
                padding: 1rem;
                background: darken($main-color, 15%);
            }
        }
    }
    .blog-inner{
        padding: 10px;
        h4{
            font-size: 1.25rem;
            span{
                font-size: 0.8rem;
            }
        }
        .summary{
           flex-direction: column;
           article{
               width: 100%;
           }
       }
    }
    .post-link{
        padding: 10px;
    }
}