@import "../styles/_settings.scss";
// header
header{
    h1{
        font-size: 1.5em;
        position: fixed;
        z-index: 10;
    }
    .nav__gloval{
        z-index: 10;
        position: fixed;
        right: 60px;
        &--primary-list{
            display: flex;
            li{
                margin-right: 1em;
                padding: 1em;
            }
            :hover .nav__gloval--secondary-list{
                opacity: 1;
                transform: translateY(0);
                transition: 1s;
            }
        }
        &--secondary-list{
            position: absolute;
            opacity: 0;
            transform: translateY(-20px);
            margin-top: 1em;
            margin-left: 1em;
            transition: 1s;
            li{
                padding: 0.5em;
                :hover{
                    background: $text-color;
                    color: $main-color;
                }
            }
        }
        a{
            color: $text-color;
        }
    }

    .nav__local{
        position: fixed;
        top: 104px;
        a{
            font-size: 0.8em;
            color: $text-color;
        }
        ul{
            height: 75vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            li::before{
                content: "";
                display: inline-block;
                width: 16px;
                height: 16px;
                border: solid 2px $text-color;
                border-radius: 50%;
                position: relative;
                top: 4px;
                margin-right: 5px;
            }
        }
    }
    .nav-local-active{
        transform: scale(1.3);
        transition: 0.5s;
    }
}
// footer
.copyright{
    position: fixed;
    right: 60px;
    top: 90vh;
    font-size: 0.7em;
}