@import "../styles/_settings.scss";
#nav__gloval--checkbox{
    display: none;
}
// header
header{
    h1{
        position: fixed;
        z-index: 10;
        font-size: 1.5em;
        a{
            color: $text-color;
        }
    }
    .nav__gloval{
        z-index: 10;
        position: fixed;
        right: 30px;
        &--primary-list{
            display: flex;
            li{
                margin-right: 1em;
                padding: 1em;
                padding-top: 0;
            }
            :hover .nav__gloval--secondary-list{
                opacity: 1;
                transform: translateY(0);
                transition: 1s;
            }
        }
        &--secondary-list{
            position: absolute;
            opacity: 0;
            transform: translateY(-20px);
            margin-top: 1em;
            margin-left: 1em;
            transition: 1s;
            li{
                padding: 0.5em;
                :hover{
                    background: $text-color;
                    color: $main-color;
                }
            }
        }
        a{
            color: $text-color;
        }
    }

    .nav__local{
        position: fixed;
        top: 104px;
        z-index: 10;
        button{
            cursor: pointer;
            background: none;
            border: none;
            outline: none;
            font-size: 0.8em;
            color: $text-color;
            transition: 0.5s;
            width: calc(100vw * 0.11);
            text-align: left;
        }
        ul{
            height: 75vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            li::before{
                content: "";
                display: inline-block;
                position: relative;
                z-index: 10;
                top: 4px;
                width: 16px;
                height: 16px;
                margin-right: 5px;
                border: solid 2px $text-color;
                border-radius: 50%;
                background: $main-color;
            }
            &::before{
                content: '';
                position: absolute;
                z-index: 9;
                width: 1px;
                height: calc(100% - 16px);
                top: calc(0% + 9px);
                left: calc(0% + 9px);
                background: $text-color;
            }
        }
    }
    .nav-local-active button{
        font-size: 1rem;
        transition: 0.5s;
    }
    .mobile-menu__button{
        display: none;
    }
}
// footer
.copyright{
    position: fixed;
    right: 60px;
    top: 90vh;
    font-size: 0.7em;
}

@media(max-width: 700px){
       header{
           h1{
               position: fixed;
               top: 0;
               left: 0;
               width: 100%;
               padding: 10px;
               background: rgba($main-color, $alpha: 0.9);
           }
           .nav__gloval{
               top: 0;
               width: 100%;
               height: 100%;
               border-left: 1px solid $text-color;
               padding: 10px;
               background: $main-color;
               transform: translateX(120%);
               transition: 0.5s;
               ul{
                   flex-direction: column;
               }
               &--secondary-list{
                   position: static;
                   opacity: 1;
                   transform: none;
               }
            }
            #nav__gloval--checkbox:checked ~ .nav__gloval{
                transform: translateX(40%);
            }
       }
    .nav__local{
        ul{
            position: fixed;
            left: 20px;
            top: 40px;
            font-size: 0.75rem;
            button{
                color: rgba($color: #ffffff, $alpha: 0);
                position: absolute;
                left: calc( 0% + 3px );
                transform: translateY(40%);
                width: 30px;
                height: 15px;
                padding: 0;
                overflow: hidden;
                z-index: 10;
            }
        }
        .mobile-menu__button{
            position: fixed;
            bottom: 10%;
            left: -20px;
            display: inline-block;
            padding: 1em ;
            background: $text-color;
            color: $main-color;
            transform: rotate(-90deg);
        }
    }
    .copyright{
        right: 10px;
        top: 95vh;
    }
}